# To enable Databricks connectivity, set USE_DATABRICKS=true and provide the values below
USE_DATABRICKS=false
DATABRICKS_HOSTNAME=adb-xxxxxx.azuredatabricks.net
DATABRICKS_HTTP_PATH=/sql/1.0/endpoints/xxxx
DATABRICKS_TOKEN=dapixxx
